.Button {
	display: flex;
	width: 5rem;
	height: 2rem;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	border-radius: .4rem;
	font-weight: bold;
	color: white;
	background-color: #4289ff;
}