h1 {
	font-weight: bold;
	font-size: 2rem;
}

.Card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 16.5rem;
	height: 22rem;
	box-shadow: 1px 1px;
	background-color: #c0d1ed;
	margin: 1rem;
}

.Card-header {
	display: flex;
	padding: 1rem;
	height: 2.5rem;
	border-bottom: 1px solid grey;
}

.Card-body {
	display: flex;
	flex-direction: column;
	justify-content: start;
	height: 100%;
	padding: 1rem;
}

.Card-footer {
	border-top: 1px solid grey;
	padding: 1rem;
	height: 2rem;
}
